body {
    background-image: url("https://image-0.uhdpaper.com/wallpaper/minimalist-background-morning-breeze-digital-art-4k-wallpaper-uhdpaper.com-192@0@e.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    font-family: "Kdam Thmor Pro", sans-serif;
}

.App{
    margin: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
}

.container{
    margin: 0;
    width: 400px;
    height: 150px;
    background: rgba( 126, 211, 33, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h2{
    color: white;
}

.randomButton{
    margin: 0;
    width: 150px;
    color: white;
    font-weight: 1000px;
    background: rgba( 126, 211, 33, 1 );
    box-shadow: 0 2px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.randomButton:hover{
    background: rgba( 98, 172, 20, 1 );
    box-shadow: 0 2px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}